In [ ]:
!pip install openpyxl

In [46]:
import pandas as pd

### 10k restaurant reviews dataset

In [93]:
reviewRawData = pd.read_csv("Restaurant_reviews.csv")

reviewRawData.head(2)

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures,7514
0,Beyond Flavours,Rusha Chakraborty,"The ambience was good, food was quite good . h...",5,"1 Review , 2 Followers",5/25/2019 15:54,0,2447.0
1,Beyond Flavours,Anusha Tirumalaneedi,Ambience is too good for a pleasant evening. S...,5,"3 Reviews , 2 Followers",5/25/2019 14:20,0,NaN

In [94]:
reviewRawData['datetime'] = pd.to_datetime(reviewRawData['Time'], format='%m/%d/%Y %H:%M')
reviewRawData['date']  = reviewRawData['datetime'].dt.date       
reviewRawData['time']  = reviewRawData['datetime'].dt.time

In [95]:
reviewRawData = reviewRawData.drop(['Reviewer','Pictures','7514','Restaurant','Metadata','datetime','Time'],axis=1)
reviewRawData.head(2)

,Review,Rating,date,time
0,"The ambience was good, food was quite good . h...",5,2019-05-25,15:54:00
1,Ambience is too good for a pleasant evening. S...,5,2019-05-25,14:20:00

In [96]:
sample_reviews = reviewRawData['Review'].dropna().sample(2, random_state=51)
for i, rev in enumerate(sample_reviews, start=1):
    print(f"Sample Review {i}:\n{rev}\n{'─'*60}\n")

Sample Review 1:
Nothing bad, nothing good. Just there. Service is just as expected. Hygienic as should be. Orders are taken good. Orders are completed in expected time, good parking space... just all good. All good is not good. Can we have something more? It's a little dull place to be this joint.
────────────────────────────────────────────────────────────

Sample Review 2:
One of the few joints , who specialises in paranthas. Ordered Paneer paranthas and cheese corn paranthas. Paneer paranthas was awesome and had a very good evenly distributed stuffing.thier chutney , which comes with paranthas , enhances the overall flavours.Keep up the awesomeness guys !
────────────────────────────────────────────────────────────

### Fried chicken reviews dataset

In [97]:
fcReviewsRaw = pd.read_excel("Fried_chicken_review.xlsx")
fcReviewsRaw.head(2)

,NO,Name,Location,Stars,Gender,Review
0,1,K Soul Chicken,"1710 Polk St , SF",5.0,F,Tell me why when I first opened the delivery b...
1,2,K Soul Chicken,"1710 Polk St , SF",4.0,M,Drunken chronicles - once upon a time I was ba...

In [98]:
fcReviewsRaw['Rating'] = fcReviewsRaw['Stars'] 
fcReviewsRaw = fcReviewsRaw.drop(['Gender','Location','Name','NO','Stars'],axis=1)

fcReviewsRaw.dropna(axis=0, how='all', inplace=True)
fcReviewsRaw['Rating']= fcReviewsRaw['Rating'].astype(int)
fcReviewsRaw.head(2)

                                              Review  Rating
0  Tell me why when I first opened the delivery b...       5
1  Drunken chronicles - once upon a time I was ba...       4

In [99]:
sample_reviews = fcReviewsRaw['Review'].dropna().sample(2, random_state=51)
for i, rev in enumerate(sample_reviews, start=1):
    print(f"Sample Review {i}:\n{rev}\n{'─'*60}\n")

Sample Review 1:
The fried chicken is amazing! Loved the mac n cheese, braised greens and corn bread too. The recipes are from owner Fernay's family, which is why the food is so exceptional. The ambiance is lovely, and it's a true community space for the wonderful people who have lived in the neighborhood for generations (including Fernay and her parents). Warm, friendly, delightful. There's a bit of a wait, and I expect it will get busier as word gets out about the opening ----- But worth the wait!


────────────────────────────────────────────────────────────

Sample Review 2:
Definitely some of the best fried chicken in Louisville. Their menu is super extensive which is awesome since they have so much to offer.

Fried chicken: obviously fire, so good!
Mashed potatoes: delicious
Mac and cheese: tastes homemade and not fake, but not the cheesiest
Fried rice: rice&beans would be a better pair than the asian style fried rice they serve. It's just a weird combo with fried chicken and potatoes
Wedges: big and crispy !!
────────────────────────────────────────────────────────────

In [110]:
# Visual Python: Data Analysis > Bind
reviewdf = pd.concat([reviewRawData,fcReviewsRaw], join='outer', axis=0)
reviewdf

,Review,Rating,date,time
0,"The ambience was good, food was quite good . h...",5,2019-05-25,15:54:00
1,Ambience is too good for a pleasant evening. S...,5,2019-05-25,14:20:00
2,A must try.. great food great ambience. Thnx f...,5,2019-05-24,22:54:00
3,Soumen das and Arun was a great guy. Only beca...,5,2019-05-24,22:11:00
4,Food is good.we ordered Kodi drumsticks and ba...,5,2019-05-24,21:37:00
...,...,...,...,...
1334,I'm so happy Grimes's opened near my home. Bes...,5,NaN,NaN
1335,Just ok. The one on Georgetown St is ok. I don...,3,NaN,NaN
1336,i waited 40 minutes for my food just to find o...,2,NaN,NaN
1337,Best spicy chicken in Lexington!!! Very afford...,5,NaN,NaN
1338,I bought a 12 piece family pack of chicken and...,1,NaN,NaN